.spent_time_text{
    position: sticky;
    top: 20px;
    color: blueviolet;
    font-size: 1.7rem;
    text-align: center;
    border: 1px solid #6047EC;
    padding: 20px 0;
    border-radius: 5px;
    background-color: #6047ec18;
    margin-top: 10px;
}